footer {
    margin: 0 auto 20px auto;
    padding: 15px 0;
    background: $btn-hover;
    border-top: 1px solid $footer-border;
    .copyright {
        a {
            @extend footer-main;
        }
        p {
            @extend footer-small;
        }
    }

    .footer-nav {
        margin-top: 10px;
        list-style: none;
        text-align: right;
        li {
            display: inline;
            margin-left: 8px;
            a {
                cursor: pointer;
                font-family: $font-main;
                color: $background-page;
                font-size: $size-xs;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px $text-shadows;
                text-decoration: none;
                &:hover {
                    color: $grey;
                    text-decoration: none;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    footer {
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
        position: relative;
        .footer-nav {
            position: absolute;
            top: 10px;
            left: calc(50% - 173px);
            width: inherit;
            li a {
                font-size: 12px;
                margin-left:38px;
                font-family: $font-main;
                font-weight: 200;
            }
        }
        .copyright {
            margin-top: 38px;
        }
    }
}
