.bs-navbar {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    div {
        padding-left: 0;
        padding-right: 0;

        .navbar-header {
            button {
                margin-top: 5px;
                margin-right: 0;
                border:0;
                .icon-bar {
                    background-color: $blue;
                }
            }
            a {
                text-decoration: none;
            }
            .navbar-brand {
                padding-top: 5px;
                padding: 0 0 0 10px;
                height: 70px;
            }
        }
        h1 {
            padding-left: 65px;
            margin-top: 0;
            @extend h1-style;
        }
    }

    .navbar-nav {
        margin-top: 25px;
        li {
            display: inline-block;
            a {
                @extend menu-styles;
                background-color: transparent;
            }
            i {
                display: none;
            }
        }
        li.active {
            a {
                color: $title-second;
                background-color: transparent;
            }
        }
        li:hover,
        li.active:hover {
            a {
                background-color: transparent;
                color: $title-second;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .bs-navbar {
        margin-bottom: 0;
        div {
            .navbar-header {
                width: 100%;
                .navbar-brand {
                    height: 75px;
                    a.header-logo {
                        display: table;
                        margin: 0 auto;
                    }
                }
                h1 {
                    text-align: center;
                }
            }
        }
    }
    .header-menu {
        width: 100%;
        ul.navbar-nav {
            display: table;
            margin: 0 auto;
            float: none !important;
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .bs-navbar div {
        .navbar-header {
            .navbar-brand {
                height: 75px;
            }
        }
    }
    .header-menu {
        ul.navbar-nav {
            display: block;
            li {
                display: block;
                i.glyphicon {
                    display: inline-block;
                    float: left;
                    padding-right: 15px;
                    color: inherit;
                    font-size: $size-sm-medium;
                }
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .bs-navbar div {
        .navbar-header {
            .navbar-brand {
                height: 50px;
            }
        }
    }
}