.bs-navbar {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    div {
        padding-left: 0;
        padding-right: 0;

        .navbar-header {
            button {
                margin-top: 33px;
            }
            .navbar-brand {
                line-height: 100px;
                height: 100px;
                padding-top: 5px;

                img {
                }

                p {
                    position: absolute;
                    line-height: 20px;
                    left: 50px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    .navbar-nav {
        margin-right: -40px;
        li:first-child {
            margin-left: 100px;
        }

        li {
            display: inline-block;

            a {
                line-height: 100px;
                height: 100px;
                padding-top: 0;
                color: #a9a9a9;
                font-family: $font-main;
                font-size: 1.8rem;

                &:hover {
                    text-decoration: none;
                    color: $main;
                }
            }
        }
        li.active {
            a {
                color: $main;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .bs-navbar ul.navbar-nav {
        margin-right: -80px;
    }

    .bs-navbar ul.navbar-nav li:first-child {
        margin-left: 0px;
    }

    .bs-navbar ul.navbar-nav li a {
        padding: 0px 9px;
    }
}

@media screen and (max-width: 991px) {
    .bs-navbar ul.navbar-nav {
        margin-right: -20px;
    }

    .bs-navbar ul.navbar-nav li:first-child {
        margin-left: 0px;
    }

    .bs-navbar ul.navbar-nav li a {
        padding: 0px 7px;
        font-size: 1.5rem;
    }

    .navbar-brand p {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        width: 80%;
    }

    .navbar-nav {
        margin: 0px !important;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .navbar-nav li a {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 480px) {
    .navbar-brand p {
        left: 20px !important;
    }
}

@media screen and (max-width: 420px) {
    .navbar-header button {
        margin-right: 0 !important;
    }

    .navbar-nav li a {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand p {
        left: 10px !important;
        font-size: 0.7rem !important;
    }

    .navbar-brand img {
        padding: 10px;
    }
}

@media screen and (max-width: 360px) {
    .navbar-nav li a {
        font-size: 0.6rem !important;
    }
}
