.separator-line.col-xs-12.m-b-15.m-t-15
.affiliations.col-xs-12
    h3.third-info-title Our Affiliations:
    a(href='https://www.lifeline.philips.com/safety-solutions?utm_campaign=5681&?origin=2_us_en_n9v2_maturecaregivers')
        img.img-responsive(src='/images/philips.png', alt='Philips.')
