html
  body
    .separator-line.col-xs-12.m-b-15.m-t-15
    .affiliations.col-xs-12.p-r-0
      .row
        .col-lg-4.col-md-4.col-sm-12
          h3.third-info-title Our Affiliations:
          a(href='https://www.lifeline.philips.com/safety-solutions?utm_campaign=5681&?origin=2_us_en_n9v2_maturecaregivers')
            img.img-responsive(src='/images/philips.png', alt='Philips.')
        .row.col-lg-8.col-md-8.col-sm-12.p-r-0
          .info.col-lg-7.col-md-7.col-sm-7
            h4
              | Is this the right time for care?
              span  Get answers fast.
            p
              | Take a quick online assessment to learn more about your care needs and which options are the right fit in about 4 minutes.
              | In partnership with
              img.inline-img(src='/images/roobrik.png', alt='Roobrik.')
          .button-container.col-lg-5.col-md-5.col-sm-5.p-r-0
            a.button(href='http://tools.roobrik.com/maturecaregivers/care/start?utm_source=maturecare')
              | TAKE THE ASSESSMENT
              img.button-img(src='/images/arrow-right.png', alt='Roobrik.')
