.separator-line.col-xs-12.m-b-15.m-t-15
.affiliations.col-xs-12
    h3.third-info-title Our Affiliations:
    a(href='https://www.lifeline.philips.com/')
        img.img-responsive(src='/images/philips.png', alt='Philips.')
