.slider-block {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    .cycle-slideshow {
        img {
            width: 100%;
        }
    }
    .slider-nav {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 110;
        div {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $slider-arrow;
            display: inline-block;
            padding: 12px 12px;
            &:hover {
                background-color: $slider-arrow-hover;
            }
            span {
                color: $white;
            }
        }
        div + div {
            margin-left: 10px;
        }
    }
}
.welcome-block {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    color: $title-first;
    .content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .welcome-btn {
        width: 200px;
        float: right;
        .main-b {
            @extend .btn-main;
            padding-right: 5px;
            width: 100%;
            &:hover {
                color: $grey;
                text-decoration: none;
            }
        }
        .icon-arrow-rigth {
            @extend btn-main-arrow-right;
            vertical-align: top;
            padding-top: 30px;
            padding-right: 15px;
            padding-left: 25px;
        }
    }
}
.short-summary-blocks {
    h2.info-title {
        @extend h2-styles;
    }
    .content-description {
        border-right: 1px solid $borders-color;
    }
}
.what-we-do-block {    
    .box-title {
        h3.box-item-title {
            @extend box-h3-style;
            padding-bottom: 3px;
            margin-bottom: 0;
        }
        span.box-subtitle {
            @extend xs-subtitle;
            display: block;
            margin-bottom: 12px;
        }
    }
}
.home-about-block {
    h3.third-info-title {
        @extend box-h3-style;
        margin-bottom: 2px;
    }
    span.box-subtitle {
        @extend xs-subtitle;
        display: block;
        margin-bottom: 12px;
    }
    ul.latest-news {
        list-style: none;
        li > span {
            @extend list-li-strong;
        }
    }
}
@media screen and (max-width: 768px) {
    .welcome-block {
        .welcome-btn {
            width: 100%;
            float: left;
        }
    }
    .short-summary-blocks {
        .content-description {
            border-right: 0px solid transparent;
        }
    }
}