extends layout

block content

    .page-title.col-sm-12
        .page-title-content
            h2._blockquote-title.col-sm-8.col-sm-offset-2 About Us
            div.col-sm-10.col-sm-offset-2
                div._blockquote
                    div._blockquote-image
                    p._blockquote-content
                        |We strive to serve every one of our Clients with compassion,
                        |reliability and respect – just as we would a member of our own families.
                        span._blockquote-autor
                            |-Tim Driver, Founder, Mature Caregivers.

    .content-block.col-sm-8
        h3.post-title-single Welcome to Mature Caregivers!
            p.description
                |We are your flexible, trusted provider of in-home elder care
                |staffing and companionship by certified providers age 50+.
        h3.post-title-single Our story
            p.description
                |Mature Caregivers is the sister business of 
                a.custom-link(href='http://www.retirementjobs.com') RetirementJobs.com
                |, the #1 career site for people age 50+ with more than 1 million members.
                |RetirementJobs.com has been in business since 2006. Headquartered in Waltham,
                |MA, it administers the 'Certified Age
                |Friendly Employer' program, recognized by AARP and Consumer Reports,
                |and the U.S. Senate Committee on Aging. This program is central to building
                |trust and helping people overcome the difficult realities of workplace age bias,
                |which remains so prevalent in today's society. It has earned accolades,
                |including a White House invitation to the Company to discuss policy solutions
                |concerning older Americans.
            p.description
                |At Mature Caregivers, we are experts from the eldercare, staffing and recruiting industries.
                |Our business provides families with a full-service solution, focused on
                |identifying the right care plans for Clients, and screening, training,
                |employing and managing devoted and qualified individuals.
                |We are staffed with gerontologists, geriatric care managers, nurses and trained,
                |experienced, insured care providers. The company also includes senior executives
                |with decades of experience helping seniors navigate their way to trustworthy care solutions.
                |Our company values are centered on impeccable service and total trust.
        h3.post-title-single About In-Home Care
            p.description
                |Our solution, and in-home care in general, offers comfort, convenience,
                |and a potentially higher quality of life for your loved one. Professional
                |in home care is becoming a more common response to the need for adult care,
                |particularly among the elderly seeking quality senior care. Join millions
                |of others and consider the benefits of an in-home caregiver.
        p
            a.custom-link(href="/findform") Fill out the questionnaire
            |  and get started today!

    include includes/aside
