extends layout

block content

    .page-title.col-sm-12
        .page-title-content
            h2._blockquote-title.col-sm-8.col-sm-offset-2 Contact Us
            div.col-sm-10.col-sm-offset-2
                div._blockquote
                    div._blockquote-image
                    p._blockquote-content
                        |Call us today for a free professional examination of
                        |your family member’s at-home care needs.  We are devoted
                        |to serving your needs with excellence and efficiency.
                        span._blockquote-autor
                            |-Jocelyn Talbot, VP, Sales

    .form-block.col-xs-12.col-sm-6
        h3.post-title-single.m-b-15 Let's get in touch
        p.description.m-b-20
            |We welcome communication with you in whichever way you'd prefer. You may &nbsp
            a(href="/findform") fill out the questionnaire
            |&nbsp about the type of care you're seeking, call us at (888) 320-6700,
            |visit us at our main office in Waltham, MA or our regional offices,
            |or fill out the simple form below.

        form#contact_form.col-xs-10.col-xs-offset-1(method='post', action='contact/send')
            .input-group.col-xs-12.col-sm-10.m-b-25
                p Name:
                input.form-control(type='text', name='name', required)
                p.home_contact_error_name.error_contact
            .input-group.col-xs-12.col-sm-10.m-b-25
                p Email:
                input.form-control(type='email', name='email', required)
                p.home_contact_error_email.error_contact
            .input-group.col-xs-12.col-sm-10.m-b-25
                p Subject:
                input.form-control(type='text', name='subject', required)
                p.home_contact_error_subject.error_contact
            .input-group.col-xs-12.col-sm-10
                p Message:
                textarea.form-control(type='text', name='message', rows='8' required)
                p.home_contact_error_message.error_contact
            .input-group.honeypot.invisible
                input(tabindex='-1', name='content', type='text')
                span.help Do not fill in this field. It is an anti-spam measure.
            input.btn.btn-default.btn-input.m-b-40.col-xs-12.col-sm-10(type='submit', value='Send Message')

        .separator-line.col-xs-12.m-b-15.p-xs-15.visible-xs

    .map-info-block.col-xs-12.col-sm-6
        .map-block
            h3.post-title-single.m-b-20 Locate Us With Ease
            #google-map
                iframe(width='100%', height='245', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=204+Second+Avenue,+Waltham,+MA+02451&aq=&sll=41.767215,-71.685791&sspn=2.245191,4.949341&ie=UTF8&hq=&hnear=204+2nd+Ave,+Waltham,+Massachusetts+02451&ll=42.393566,-71.26471&spn=0.017369,0.038667&t=m&z=14&output=embed')
                br
                small
                    a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=204+Second+Avenue,+Waltham,+MA+02451&aq=&sll=41.767215,-71.685791&sspn=2.245191,4.949341&ie=UTF8&hq=&hnear=204+2nd+Ave,+Waltham,+Massachusetts+02451&ll=42.393566,-71.26471&spn=0.017369,0.038667&t=m&z=14', style='color:#0000FF;text-align:left') View Larger Map

        .separator-line.m-b-40

        .contact-info-block.m-b-20
            h3.post-title-single Contact Info
            p Headquartered in Waltham, MA. Caregivers available across U.S.
            .one-fourth
                p
                    strong Main Office:
                    br
                    |204 Second Avenue
                    br
                    |Waltham, MA
                p
                    strong Phone:
                    |&nbsp (888) 320-6700
                    br
                    strong Fax:
                    |&nbsp (781) 998-0754
                p
                    strong E-mail:
                    br
                    |support@maturecaregivers.com
    .modal#contact-modal.fade(tabindex='-1', role='dialog', data-success=(success === true ? 'success' : ''))
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Your message was sent successfully.
                .modal-body
                    p
                        |Thank you for submitting your inquiry with Mature Caregivers.
                        |We look forward to helping you with expert guidance and in-home
                        |care for your loved one. A representative will contact you very shortly.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
