extends layout

block content

    .page-title.col-sm-12
        .page-title-content
            h2._blockquote-title.col-sm-8.col-sm-offset-2 FAQ's
            div.col-sm-10.col-sm-offset-2
                div._blockquote
                    div._blockquote-image
                    p._blockquote-content
                        |When asked ‘how are you different?’, I’m proud to tell families we
                        |focus on fundamentals, beginning with recruiting experienced caregivers
                        |over 50 who love being caregivers.
                        span._blockquote-autor
                            |-  Charlene Neu, Community Relations Executive, Mature Caregivers.

    .content-block.col-sm-8.m-b-15
        h3.post-title-single.m-t-0 Frequently Asked Questions
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item
                |Why should I use Mature Caregivers rather than an
                |individual who advertises in the newspaper?
        p.description.m-b-15
            |Our caregivers are employees of Mature Caregivers. They have been screened,
            |insured, bonded, trained and educated in senior care. We strongly advise you
            |not to have someone in your home if you have not conducted, at the
            |very least, a criminal background check on them.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |How do you select your caregivers?
        p.description.m-b-15.p-t-5
            |We focus on delivering you professional expertise from credentialed experts
            |in senior care, and then providing the best caregiver fit.
            |Our caregivers have successfully completed our company’s Certified Age
            |Friendly Caregiver program, a 5-step process including application and
            |screening, personal interviews, background checks and training.
        p.description
            |Our caregivers are over age 50 and relate well to our elderly clients because
            |they share more in common. Our caregivers love being caregivers.
            |They appreciate having the work, and working with people who appreciate their
            |life experience. This results in a lower turnover rate
            |(about one third the norm)—and by extension, this means continuity
            |of care for, and a better relationship with, your loved one.
            |They appreciate having flexible hours, doing work that provides
            |them more meaning than if they worked, for example, in retail.
            |While the physical demands of being a caregiver are not to be underestimated,
            |our caregivers also appreciate not needing to be on their feet all day long.
        p.description
            |It is not unusual for our caregivers to have transitioned from occupations
            |earlier in their life and career that include teaching,
            |administrative assistants, sales, customer service representatives,
            |driving, marketing & advertising.
        p.description
            |They’ve received training, and developed on-the-job experience,
            |caring for elderly people with a range of circumstances,
            |including dementia and Alzheimers.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |Can I help choose the caregiver?
        p.description.m-b-15.p-t-5
            |Yes. We invite our clients to participate in the selection of their
            |caregiver. We do our best to fit you with a caregiver of your liking.
            |We guarantee that you will be satisfied or we will make a change.
            |Your satisfaction is our top priority.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What if my caregiver is sick?
        p.description.m-b-15.p-t-5
            |This is another reason why hiring Mature Caregivers is so important.
            |We will supply another caregiver immediately to cover your needs.
            |Our state-of-the-art communications systems and operational processes
            |are constructed so we are aware when a caregiver is not going to be
            |present for any reason-- with sufficient lead time that we can send
            |another caregiver.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What if I have a conflict with the caregiver?
        p.description.m-b-15.p-t-5
            |Your satisfaction is our number one priority. While we are good at hiring
            |the right people, we also know conflicts come up. We step in immediately
            |to mediate a problem. We listen, learn and make changes if things do not
            |improve right away.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What if my needs change?
        p.description.m-b-15.p-t-5
            |Mature Caregivers will adjust your elder’s care plan whenever you want.
            |Our credentialed care professionals will also assist you in making
            |these decisions. While addressing an elderly person’s needs may be new
            |to you, we are experts and will help advise you along the journey.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |Who pays the caregiver?
        p.description.m-b-15.p-t-5
            |We do. Mature Caregivers will bill you every 2 weeks for services rendered
            |the previous 2 weeks. We take care of all the rest of the paperwork, including
            |taxes, Social Security, health and disability insurances.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |Do you have a minimum number of hours of service?
        p.description.m-b-15.p-t-5
            |We try to give our caregivers at least a 4-hour shift. However, depending upon your
            |personal needs and location we can have a caregiver be with your family member anywhere
            |from 1 to 24 hours a day.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |Are your services available in hospitals, nursing homes, or assisted living facilities?
        p.description.m-b-15.p-t-5
            |Yes, we can provide care to facility residents who require additional assistance.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What if there is an emergency and I need to speak with someone after normal business hours?
        p.description.m-b-15.p-t-5
            |Someone from our team will be available to answer your call 24 hours a day, 365 days a year.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |Is there a contract to sign?
        p.description.m-b-15.p-t-5
            |We have a service agreement that outlines payment terms, rates and details of
            |service but you may cancel anytime with just 24 hours notice.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What will it cost?
        p.description.m-b-15.p-t-5
            |Until we send a member of our team to your home for a free in-home assessment and
            |written plan of care, or determine a care plan based upon a detailed phone interview
            |with you, we cannot quote an exact price. Mature Caregivers tries to bring you the
            |highest-quality, experienced caregiver relationship at an affordable rate.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What areas do you provide eldercare service in?
        p.description.m-b-15.p-t-5
            |Mature Caregivers helps families in communities across the U.S. secure eldercare.
            |While our corporate headquarters are in Waltham, MA, we have Caregivers available
            |across the U.S. and a large network of Local Care Coordinators who support families
            |on a local level. One of them may even live in your neighborhood. Sometimes we will
            |not be able to serve your needs based on the location or availability of our
            |certified caregivers. If this happens, we will refer you to a partner service
            |provider who is in a better position to serve your needs.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |What are my payment options?
        p.description.m-b-15.p-t-5
            |Payment options include but are not limited to private/family pay, long term care policy,
            |and insurance. We will work together with any insurance company to complete the
            |documentation they require and provide them with the paperwork necessary to process
            |your claim. Every Long Term Care Insurance Policy is different and may have specific
            |requirements that must be met before they will pay for care. To help you receive the
            |insurance benefits you are entitled to we will bill your insurance company on your
            |behalf, and assist you with completing all necessary paperwork, but ultimately the
            |responsibility for payment is with you the consumer.
        div.faq-item-titles.m-t-15.m-b-15
            span.box-number-blue Q
            h2.bold-title-item.p-t-10
                |How quickly can I start?
        p.description.m-b-15.p-t-5
            |You may start at any time. We are ready to help you!
            |Call us at 888-320-6700 or
            a.custom-link(href='/findform') &nbsp fill out our questionnaire now.

    include includes/aside
    include includes/page_footer
