doctype html
html
    head
        title #{title}: Maturecaregivers
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=devise-width, initial-scale=1.0' )
        link(rel='stylesheet', href='/stylesheets/vendor/prettyPhoto.css')
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz')
        script(type='text/javascript' async='' src='http://www.google-analytics.com/ga.js')
    body.small-grid
        .container.wrapper
            nav.navbar.navbar-default.bs-navbar
                .content
                    .navbar-header.col-md-6.col-sm-12
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse',
                        data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                            .span.sr-only Toggle Navigation
                            .span.icon-bar
                            .span.icon-bar
                            .span.icon-bar
                        div.navbar-brand.col-sm-12.col-xs-9.p-xs-15
                            a.header-logo(href='#')
                                img.img-responsive(src='/images/logo.png')
                        h1.col-sm-12.hidden-xs In-home care by certified age 50+ providers
                    #navbar.collapse.navbar-collapse.navbar-right.header-menu.col-md-6.col-sm-12
                        ul.nav.navbar-nav
                            li(class=(title === 'Home' ? 'active' : ''))
                                a(href='/') Home
                                    i.glyphicon.glyphicon-home
                            li(class=(title === 'About' ? 'active' : ''))
                                a(href='/about') About
                                    i.glyphicon.glyphicon-inbox
                            li(class=(title === 'Services' ? 'active' : ''))
                                a(href='/services') Services
                                    i.glyphicon.glyphicon-wrench
                            li(class=(title === 'Testimonials' ? 'active' : ''))
                                a(href='/testimonials') Testimonials
                                    i.glyphicon.glyphicon-heart-empty
                            li(class=(title === 'Contact' ? 'active' : ''))
                                a(href='/contact') Contact Us
                                    i.glyphicon.glyphicon-earphone
                            li(class=(title === 'Faq' ? 'active' : ''))
                                a(href='/faqs') FAQ'S
                                    i.glyphicon.glyphicon-question-sign
            block content
        footer.container
            div.copyright.col-xs-12.col-sm-4
                a(href='/') www.maturecaregivers.com
                p Copyright © 2016 Mature Caregivers. All rights reserved.
            ul.footer-nav.col-xs-12.col-sm-8.hidden-xs
                li
                    a(href='/') Home
                li
                    a(href='/about') About
                li
                    a(href='/services') Services
                li
                    a(href='/testimonials') Testimonials
                li
                    a(href='/contact') Contact Us
                li
                    a(href='/fag') FAQ'S

        script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script( src='/javascripts/vendor/bootstrap.min.js')
        script( src='/javascripts/vendor/jquery.cycle2.min.js')
        script( src='/javascripts/vendor/jquery.prettyPhoto.js')
        script( src='/javascripts/main.js')
