aside.col-sm-4
    .box-title
    ul.custom-list.arrows-1
        li
            i.glyphicon.glyphicon.glyphicon-menu-right
            span.p-l-5 Personal care
        li
            i.glyphicon.glyphicon.glyphicon-menu-right
            span.p-l-5 Medication assistance
        li
            i.glyphicon.glyphicon.glyphicon-menu-right
            span.p-l-5 Companionship
        li
            i.glyphicon.glyphicon.glyphicon-menu-right
            span.p-l-5 Transportation
        li
            i.glyphicon.glyphicon.glyphicon-menu-right
            span.p-l-5 Dementia
