extends layout

block content

    .page-title.col-sm-12
        .page-title-content
            h2._blockquote-title.col-sm-8.col-sm-offset-2 Services
            div.col-sm-10.col-sm-offset-2
                div._blockquote
                    div._blockquote-image
                    p._blockquote-content
                        |Mature Caregivers is well positioned to deliver the precise combination families want:
                        |reliable assistance from caregivers who relate well to their loved ones.
                        span._blockquote-autor
                            |- Bob Bua, Advisor to Mature Caregivers.

    .content-block.col-sm-8
        h3.post-title-single.m-b-15 How Our Service Works
        span.box-number-blue 1
        p.description.m-b-15
            |Your first step is to fill out the
            a.custom-link(href='/findform') &nbsp questionnaire on this site,
            |&nbsp answering initial questions about the needs of your loved one,
            |or to call us at 888-320-6700. We are your flexible,
            |trusted provider of in-home elder care staffing and companionship
            |by certified providers age 50+.
        span.box-number-blue 2
        p.description.m-b-15
            |With you, we assess your in-home eldercare needs in depth. If you choose, this includes
            |customizing a care plan to fit your loved one's situation after a visit to your home by one
            |of our Local Care Coordinators-- credentialed geriatric care managers or nurses. The service
            |we provide can be as little as 1 hour a day, or around the clock. Our care coordinators are on
            |call 24 hours a day, 7 days a week.
        span.box-number-blue 3
        p.description.m-b-15
            |We hand-select, recommend and introduce Professional Caregivers (typically about 3)
            |whom we have screened, background-checked, trained and certified. You interview them,
            |with our facilitation, and then finalize your choice(s).
        span.box-number-blue 4
        p.description.m-b-15
            |We begin providing care. When questions arise, or changes are requested to your care
            |plan, you simply contact our staff of coordinators who are available 24 hours a day. You
            |also have access to your dedicated Local Care Coordinator. You are billed every other week
            |based on the number of hours of care provided.
        a.custom-link(href='/faqs') Frequently Asked Questions


    include includes/aside
