extends layout

block content

    .page-title.col-sm-12
        .page-title-content
            h2._blockquote-title.col-sm-8.col-sm-offset-2 Client Testimonials
            div.col-sm-10.col-sm-offset-2
                div._blockquote
                    div._blockquote-image
                    p._blockquote-content
                        |There is no greater reward, personally or professionally, than a client's warm message of thanks. 
                        |The following clients and respected industry experts have given us permission to publish their messages.

    .content-block.col-sm-8
        div.testimonial-item.m-b-40.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Ron Shaich
            div.img-container
                img.img-responsive.box-img(src='/images/ronshaich.jpg', alt='Image Description')
            p.box-short-description
                |"There are many very good people on your team. Very human and decent. 
                |Thanks for hiring such good people to care for [my uncle]. 
                |Their genuine care comes through".
            p.m-0
                |Ron is the Founder and Co-CEO of 
                a.custom-link(http='//www.panerabread.com/about/company/mgmt.php') Panera Bread. 
            p.m-0
                |Visit his personal website at 
                a.custom-link(http='http://www.ronshaich.com') ronshaich.com
        div.testimonial-item.m-b-40.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Emily Saltz
            div.img-container.m-b-40
                img.img-responsive.box-img(src='/images/emilysaltz.jpg', alt='Image Description')
            p.box-short-description
                |"What makes Mature Caregivers different is its connection to such a large 
                |pool of high quality talent at its sister business, RetirementJobs.com. 
                |As a Geriatric Care Manager, I appreciate the fact that my clients lives 
                |are enriched by the talent and wisdom of the experienced caregivers they provide."
            p.m-0
                |Emily is the President Elect of the 
                a.custom-link(http='//www.caremanager.org') 
                    |National Association of Professional Geriatric Care Managers.
        div.testimonial-item.m-b-40.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Esther Rothkopf
            div.img-container
                img.img-responsive.box-img(src='/images/estherrothkopf.jpg', alt='Image Description')
            p.box-short-description
                |"This level of personal involvement and caring greatly enhances 
                |the relationship between client and caregiver, and is unusual in our industry".
            p.m-0
                |Esther is a Geriatric Care Manager for 
                a.custom-link(http='//www.allaboutelders.com/about-us/our-team/#2') 
                    |Generations, All About Elders.
        div.testimonial-item.m-b-40.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Heather Sawitsky
            div.img-container
                img.img-responsive.box-img(src='/images/heathersawitzsky.jpg', alt='Image Description')
            p.box-short-description
                |"You've addressed quality in the care industry by turning the model 
                |on its head, employing people who see caregiving as a second or third career. 
                |In addition to their reliability, their mature age helps them to 
                |forge a closer bond with their elder client."
            p.m-0
                |Heather is General Counsel for a Continuing Care Retirement Community.
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Ted P.
            p.box-short-description
                |"Our family's experience with Mature Caregivers has been terrific. 
                |I cannot emphasize that enough. You are responsive, provide excellent care, 
                |and have helped with great advice about our mother's needs."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Joe J.
            p.box-short-description
                |"Toni really likes and appreciates Beverly. Beverly allows me to get 
                |the other household chores, accounting, taxes, and work obligations 
                |done on time. I was worried that [my wife] wouldn't take to the idea 
                |since one of her mantras has always been 'I can do it myself'. 
                |The fact that she lets Beverly be her companion speaks well 
                |for Beverly's manner and training."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Helena S.
            p.box-short-description
                |"Thank you for sending over so many interesting folks to help 
                |me with [my husband] Dan. Each person is very nice and kind and helpful, 
                |and the companionship helps lift me up."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Tony A.
            p.box-short-description
                |"Thanks again for the very professional and caring approach 
                |to supporting my father. I read everything you write on 
                |the private care blog, and appreciate all the detail. 
                |He must be in the best shape he's been in for years. 
                |Congratulations on keeping him focused on his health. 
                |I know it's frustrating for him not to be with family all the time, 
                |but it's clear he's in a very good place right now."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Annemarie C.
            p.box-short-description
                |"Thanks for all you do [for my mother]. You are wonderful and 
                |we appreciate you all for keeping her safe. Mom is happy 
                |and she laughs a lot, so keep her laughing and happy."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Mary Ann W.
            p.box-short-description
                |"Thanks for keeping me abreast. I am really impressed with the companions 
                |and caregivers! I also appreciate all the ongoing research you have 
                |done on activities for Rebecca. The companions have 
                |truly enriched Rebecca's days."
        div.testimonial-item.m-b-20.col-xs-12
            h3.post-title-single.m-b-15.m-t-0 Lori W.
            p.box-short-description
                |"Sounds [from the private care blog] like you guys have been busy 
                |while I was away. I can tell that my mom is really enjoying 
                |your caregivers' company."

    include includes/aside