$white: #ffffff;
$black: #000000;
$grey: #ddd;
$nav-grey: #a9a9a9;

$custom-body: #747474;
$background-body: #c3c3c3;
$background-page: #f7f7f7;
$footer-border: #363636;

$borders-color: #ebebeb;
$text-shadows: #262626;
$h2-color: #999;
$title-first: #6b6b6b;
$title-second: #db7030;
/*//main*/

$btn-shadows: #252525;
$btn-hover: #565656;