$font-main: Arial, sans-serif;
$font-titles: Yanone Kaffeesatz, Arial, sans-serif;
$font-list-number: Tahoma, Arial ,sans-serif;


$size-xs: 10px;
$size-small: 11px;
$size-normal-strong: 13px;
$size-normal: 14px;
$size-sm-medium: 18px;
$size-medium: 20px;
$size-title: 26px;
$size-h2: 34px;

$style-normal: normal;
$style-bold: bold;
$style-italic: italic;

$line-normal: 20px;
$line-h3: 22px;
$line-h1: 26px;
$line-h2: 36px;
$line-xs: 10px;

/*Font clasess*/
* {
	color: $custom-body;
	font-size: $size-normal;
	font-family: $font-main;
	line-height: $line-normal;
}
/*mark all link to orange*/
a {
	color: $title-second;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}
/*using for nav-bar menu items*/
menu-styles {
	font-size: $size-medium;
	font-family: $font-titles;
}
/*using for title that we use after logo in firs page*/
h1-style {
    font-size: $size-normal-strong;
    text-transform: uppercase;
    font-family: $font-main;
    line-height: $line-h1;
    font-weight: $style-normal;
}
/*using for post-title, e.g. on first page "Welcom To MatureCaregivers"*/
h3-styles {
	font-size: $size-title;
	color: $title-first;
	font-weight: $style-normal;
	line-height: $line-h3;
	font-family: $font-titles;
    span {
        color: $title-second;
        font-size: $size-title;
        font-weight: $style-normal;
        line-height: $line-h3;
        font-family: $font-titles;
    }
}
/*using for small title e.g. to named images in first page*/
h4-styles {
	font-size: $size-sm-medium;
    color: $title-second;
    font-family: $font-titles;
}
/*using for title in list e.g. titles in 1,2,3*/
box-h3-style {
	font-size: $size-medium;
    line-height: $line-normal;
    color: $title-second;
    font-family: $font-titles;
}
/*using for subtitles in list*/
xs-subtitle {
    font-size: $size-xs;
    line-height: $line-xs;
    text-transform: uppercase;
}
/*using for titles in information block, e.g. on first page "What we do"*/
h2-styles {
    font-family: $font-titles;
	font-size: $size-h2;
    line-height: $line-h2;
    color: $h2-color;
    text-transform: uppercase;
}
/*using for italic short description in information block*/
h2-content-styles {
	color: $h2-color;
    font-style: $style-italic;
}
/*using for italic font style*/
italic-span {
	color: $title-second;
	font-style: $style-italic;
}
/*using for font-style for sm-btn*/
btn-sm-style {
	font-size: $size-small;
    color: $background-page;
}
/*show fot numbers in list*/
list-number {
    display: block;
    color: $background-page;
    font-family: $font-list-number;
    font-size: $size-normal;
    text-align: center;
}
/*using to show line in strong font-style*/
list-li-strong {
	color: $custom-body;
    font-size: $size-normal-strong;
    font-weight: $style-bold;
}
/*using in footer*/
footer-main {
	text-decoration: none;
    font-family: $font-titles;
    color: $background-page;
    font-size: $size-sm-medium;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px $text-shadows;
}
footer-small {
	color: $grey;
    font-size: $size-xs;
    text-shadow: 1px 1px 1px $text-shadows;
}

/*Helpers clasess*/
h3.post-title {
    @extend h3-styles;
    .description {
        margin: 10px 0 15px;
    }
}
h3.post-title-single {
    @extend h3-styles;
    color: $title-second;
    .description {
        margin: 10px 0 15px;
    }
}
ul.custom-list {
    list-style: none;
    i {
        color: $borders-color;
    }
}