@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
}
@import 'base/_color.scss';
@import 'base/_typography.scss';
@import 'base/_helpers.scss';
@import 'components/_separators.scss';
@import 'components/_backgrounds.scss';
@import 'components/_buttons.scss';
@import 'components/_images-blocks.scss';
@import 'pages/_include.scss';
@import 'layout/_header.scss';
@import 'layout/_footer.scss';
@import 'layout/_aside.scss';
@import 'pages/_home.scss';
@import 'pages/_testimonials.scss';
@import 'pages/_contact.scss';
@import 'pages/_findform.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	@extend *;

	&:focus {
		outline: 0;
    }
}

body {
	background-color: $background-body;
}

.wrapper {
	margin-top: 20px;
    padding: 30px 40px;
	background-color: $background-page;
}
@media screen and (max-width: 768px) {
    .wrapper {
		margin-top: 0px;
	    padding: 0;
		background-color: $background-page;
		.p-xs-15 {
			padding-left: 15px;
			padding-right: 15px;
		}
		.text-center-xs {
			text-align: center;
		}
		.img-responsive {
			display: inline-block;
		}
	}

}
