.separator-line {
  border: none;
  height: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  background: url(/images/separator.png) repeat; }

.bs-navbar {
  border-left: 0;
  border-right: 0;
  border-radius: 0; }
  .bs-navbar div {
    padding-left: 0;
    padding-right: 0; }
    .bs-navbar div .navbar-header button {
      margin-top: 33px; }
    .bs-navbar div .navbar-header .navbar-brand {
      line-height: 100px;
      height: 100px;
      padding-top: 5px; }
      .bs-navbar div .navbar-header .navbar-brand p {
        position: absolute;
        line-height: 20px;
        left: 50px;
        font-size: 1.2rem;
        text-transform: uppercase; }
  .bs-navbar .navbar-nav {
    margin-right: -40px; }
    .bs-navbar .navbar-nav li:first-child {
      margin-left: 100px; }
    .bs-navbar .navbar-nav li {
      display: inline-block; }
      .bs-navbar .navbar-nav li a {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
        color: #a9a9a9;
        font-family: Yanone, Tahoma, Arial, sans-serif;
        font-size: 1.8rem; }
        .bs-navbar .navbar-nav li a:hover {
          text-decoration: none;
          color: #db7030; }
    .bs-navbar .navbar-nav li.active a {
      color: #db7030; }

@media screen and (max-width: 1199px) {
  .bs-navbar ul.navbar-nav {
    margin-right: -80px; }

  .bs-navbar ul.navbar-nav li:first-child {
    margin-left: 0px; }

  .bs-navbar ul.navbar-nav li a {
    padding: 0px 9px; } }
@media screen and (max-width: 991px) {
  .bs-navbar ul.navbar-nav {
    margin-right: -20px; }

  .bs-navbar ul.navbar-nav li:first-child {
    margin-left: 0px; }

  .bs-navbar ul.navbar-nav li a {
    padding: 0px 7px;
    font-size: 1.5rem; }

  .navbar-brand p {
    font-size: 1rem !important; } }
@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 80%; }

  .navbar-nav {
    margin: 0px !important;
    text-align: center; } }
@media screen and (max-width: 550px) {
  .navbar-nav li a {
    font-size: 1rem !important; } }
@media screen and (max-width: 480px) {
  .navbar-brand p {
    left: 20px !important; } }
@media screen and (max-width: 420px) {
  .navbar-header button {
    margin-right: 0 !important; }

  .navbar-nav li a {
    font-size: 0.8rem !important; } }
@media screen and (max-width: 400px) {
  .navbar-brand p {
    left: 10px !important;
    font-size: 0.7rem !important; }

  .navbar-brand img {
    padding: 10px; } }
@media screen and (max-width: 360px) {
  .navbar-nav li a {
    font-size: 0.6rem !important; } }
footer {
  margin: 0 auto 20px auto;
  padding: 15px 0;
  background: #565656;
  border-top: 1px solid #363636; }
  footer .copyright {
    color: #ddd;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #262626; }
    footer .copyright a {
      font-family: Yanone, Tahoma, Arial, sans-serif;
      color: #f7f7f7;
      font-size: 1.6rem;
      letter-spacing: 1px; }
      footer .copyright a:hover {
        color: #ddd;
        text-decoration: none; }
    footer .copyright p {
      margin: 0; }
  footer .footer-nav {
    margin-top: 10px;
    list-style: none;
    text-align: right; }
    footer .footer-nav li {
      display: inline;
      margin-left: 8px; }
      footer .footer-nav li a {
        font-family: Arial, sans-serif;
        color: #f7f7f7;
        font-size: 1rem;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #262626;
        cursor: pointer; }
        footer .footer-nav li a:hover {
          color: #ddd;
          text-decoration: none; }

@media screen and (max-width: 768px) {
  footer .copyright {
    text-align: center;
    font-size: 1rem; }
    footer .copyright a {
      font-size: 1.6rem; }
  footer .footer-nav {
    text-align: center; }
    footer .footer-nav li {
      display: inline; }
      footer .footer-nav li a {
        font-size: 1rem; } }
.welcome-block {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  font-size: 2.4rem;
  color: #6b6b6b; }
  .welcome-block .content {
    padding-left: 0px;
    padding-right: 0px; }
    .welcome-block .content p span {
      color: #db7030; }
    .welcome-block .content .description {
      margin: 0 0 15px;
      color: #747474;
      font-size: 1.4rem;
      font-family: Arial, sans-serif;
      line-height: 20px; }
  .welcome-block .welcome-btn {
    text-align: right; }
    .welcome-block .welcome-btn a {
      position: absolute;
      top: 5px;
      right: 20px;
      padding: 15px 20px;
      background-color: #4e4e4e;
      border-top: 3px solid #6e6e6e;
      border-bottom: 3px solid #6e6e6e;
      font-family: Yanone, Arial, sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      text-shadow: 1px 1px #252525;
      color: #f7f7f7; }
      .welcome-block .welcome-btn a:hover {
        color: #ddd;
        text-decoration: none; }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

body {
  color: #747474;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  line-height: 20px;
  background-color: #c3c3c3; }

/*=====BACKGROUND PATTERNS=====*/
.mosaic {
  background-image: url(../img/backgrounds/pattern-1.png); }

.tiles {
  background-image: url(../img/backgrounds/pattern-2.png); }

.small-grid {
  background-image: url(/images/pattern-3.png); }

.lines {
  background-image: url(../img/backgrounds/pattern-4.png); }

.medium-grid {
  background-image: url(../img/backgrounds/pattern-5.png); }

.wood {
  background-image: url(../img/backgrounds/pattern-6.jpg); }

.vertical-lines {
  background-image: url(../img/backgrounds/pattern-7.png); }

.noise {
  background-image: url(../img/backgrounds/pattern-8.jpg); }

.wrapper {
  margin-top: 20px;
  padding: 30px 40px 30px 40px;
  background-color: #f7f7f7; }

/*# sourceMappingURL=style.css.map */
