/*Styles for btns*/
.btn-main {
	padding: 5px 15px;
    background-color: $btn-main-color;
    color: $background-page;
    font-family: $font-titles;
    font-size: $size-title;
    text-transform: uppercase;
    text-shadow: 1px 1px $text-shadows;
    text-decoration: none;
    border-radius: 0;
    border-top: 3px solid $btn-border-color;
    border-bottom: 3px solid $btn-border-color;
}
.btn-small {
	@extend btn-sm-style;
    padding: 3px 7px;
    background: $title-second;
    display: inline-block;
    margin-bottom: 15px;
    color: $white;
    &:hover {
    	background: $btn-hover;
    	text-decoration: none;
    	color: $white;
    }
}
.btn-submit {
    @extend .btn-small;
    padding: 8px 25px;
    font-size: $size-normal;
}
.btn-input {
	background: $title-second;
	color: $white;
	&:hover {
		background: $btn-hover;
	}
}
@media screen and (max-width: 768px) {
	.btn-small {
		padding: 10px 15px;
		text-align: center;
	}
}
