/*styles for icons-images*/
.zoom-on-image {
    position: relative; 
    span {
        position: absolute;
        left: 35%;
        top: 35%;
        font-size: 30px;
        display: none;
    }
    img:hover + span {
	    display: inline-block;
	}
}
.img-container {
    height: 100px;
    width: 75px;
    display: table-cell;
    float: left;
    margin-right: 20px;
}
.content {
    a.zoom {
        display: block;
        img {
            &:hover {
                opacity: 0.4;
            }
        }
    }
}
img.box-img {
        padding: 3px;
        border: 1px solid $borders-color;
        margin-bottom: 5px;
}